<ion-view title="How to reach">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header reach" style="background-color:#FFFFFF;">
        <div>
            <div>
                <div id="map" lat="19.1336" lng="72.9154" zoom="12" map>
                </div>
            </div>
            <div class="address">
                <div class="row">
                    <div class="col"><strong>DrupalConAsia Venue</strong>
                        <p>
                            1 IIT Bombay, Powai
                            <br /> Mumbai 400 076
                            <br /> Maharashtra, India
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Mumbai - Chhatrapati Shivaji International Airport</strong>
                        <p>
                            Chhatrapati Shivaji International Airport Mumbai
                            <br /> Maharashtra 400099 India
                        </p>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
