.scroll-content {
    background: url(../img/timer.png);
    background-repeat: no-repeat;
    background-size: cover;
 background-position: center top;
    margin: auto;
    z-index: 2;
    position: center;
   /* background-color: #42213D;*/
}
.timer {
	position: absolute;
    text-align: center;
    margin-top: 52%;
    padding-top: 60%;
    right: 12%;
    left: 12%;
    font-size: 120%;
    font-weight: bold;
    color: #F9CB0C;
}